#############################################
# Splunk Component Deployment Controls
#############################################
 
enable_cluster_manager = true

enable_deployer = true

enable_deployment_server = true

enable_heavy_forwarder = true

enable_indexer = true

enable_license_manager = true

enable_search_head = true

enable_universal_forwarder = true

#############################################
# Project
#############################################

project_name = "splunklab"

environment = "dev"


#############################################
# AWS Configuration
#############################################

region = "ca-central-1"

key_pair = "splunk_ssh"

public_key_path = "~/.ssh/splunk.pub"

ec2_os = "ami-06fe2799cd3989322"


#############################################
# Networking
#############################################

vpc_cidr = "172.16.0.0/16"

public_subnet_cidr = "172.16.10.0/24"

availability_zone = "ca-central-1a"


#############################################
# Security
#############################################

ssh_allowed_cidrs = [
  "0.0.0.0/0"
]

splunk_web_allowed_cidrs = [
  "0.0.0.0/0"
]


#############################################
# Splunk Components
#############################################

splunk_components = {

  cluster_manager = {
    instance_type = "t2.micro"
    root_volume   = 20
    public_ip     = true
  }


  license_manager = {
    instance_type = "t2.micro"
    root_volume   = 20
    public_ip     = true
  }


  deployer = {
    instance_type = "t2.micro"
    root_volume   = 20
    public_ip     = true
  }


  deployment_server = {
    instance_type = "t2.micro"
    root_volume   = 20
    public_ip     = true
  }


  heavy_forwarders = {
    instance_type = "t2.micro"
    root_volume   = 20
    public_ip     = true
  }


  indexers = {
    instance_type = "t2.micro"
    root_volume   = 20
    public_ip     = true
  }


  search_heads = {
    instance_type = "t2.micro"
    root_volume   = 20
    public_ip     = true
  }


  universal_forwarders = {
    instance_type = "t2.micro"
    root_volume   = 20
    public_ip     = true
  }

}